.header
  %span
    Good Fucking Austerity Advice
  ='- Serving the working class policy maker since 2008.'

.container
  %h1.fucking-advice= "#{advice.text}."
  - new_advice_id = random_advice_id(advice.id)
  = link_to("This isn't enough, I need more advice.", advice_path(new_advice_id), :class => 'more-advice')
= render partial: 'navigation'
